<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.JianshenqixieMapper">
  <resultMap id="BaseResultMap" type="com.entity.Jianshenqixie">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="bianhao" jdbcType="VARCHAR" property="bianhao" />    <result column="qixiemingcheng" jdbcType="VARCHAR" property="qixiemingcheng" />    <result column="shijianduan" jdbcType="VARCHAR" property="shijianduan" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bianhao,qixiemingcheng,shijianduan, addtime
  </sql>
  <select id="quchongJianshenqixie"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from jianshenqixie 
    where bianhao = #{bianhao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from jianshenqixie  where 1=1
    <if test="bianhao!=null">and bianhao like  concat('%',#{bianhao,jdbcType=VARCHAR},'%')</if>     <if test="qixiemingcheng!=null">and qixiemingcheng like  concat('%',#{qixiemingcheng,jdbcType=VARCHAR},'%')</if>     <if test="shijianduan!=null">and shijianduan like  concat('%',#{shijianduan,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jianshenqixie  where 1=1
    <if test="bianhao!=null">
    and bianhao =#{bianhao}
    </if>
  </select>
  
  <select id="getsyjianshenqixie1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jianshenqixie  where 1=1
    limit 0,5
  </select>
  <select id="getsyjianshenqixie2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jianshenqixie  where 1=1
    limit 0,5
  </select>
  <select id="getsyjianshenqixie3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jianshenqixie  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from jianshenqixie where 1=1 
     <if test="bianhao!=null">and bianhao like  concat('%',#{bianhao,jdbcType=VARCHAR},'%')</if>     <if test="qixiemingcheng!=null">and qixiemingcheng like  concat('%',#{qixiemingcheng,jdbcType=VARCHAR},'%')</if>     <if test="shijianduan!=null">and shijianduan like  concat('%',#{shijianduan,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jianshenqixie
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jianshenqixie
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Jianshenqixie">
    insert into jianshenqixie (id, bianhao,qixiemingcheng,shijianduan, addtime)
    values (#{id,jdbcType=INTEGER}, #{bianhao,jdbcType=VARCHAR},#{qixiemingcheng,jdbcType=VARCHAR},#{shijianduan,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Jianshenqixie">
    insert into jianshenqixie
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bianhao != null"> bianhao, </if>      <if test="qixiemingcheng != null"> qixiemingcheng, </if>      <if test="shijianduan != null"> shijianduan, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bianhao != null"> #{bianhao,jdbcType=VARCHAR},</if>      <if test="qixiemingcheng != null"> #{qixiemingcheng,jdbcType=VARCHAR},</if>      <if test="shijianduan != null"> #{shijianduan,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Jianshenqixie">
    update jianshenqixie
    <set>
	  <if test="bianhao != null"> bianhao = #{bianhao,jdbcType=VARCHAR},</if>      <if test="qixiemingcheng != null"> qixiemingcheng = #{qixiemingcheng,jdbcType=VARCHAR},</if>      <if test="shijianduan != null"> shijianduan = #{shijianduan,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Jianshenqixie">
    update jianshenqixie
    set bianhao = #{bianhao,jdbcType=VARCHAR},qixiemingcheng = #{qixiemingcheng,jdbcType=VARCHAR},shijianduan = #{shijianduan,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
