<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.JianshenjiaolianMapper">
  <resultMap id="BaseResultMap" type="com.entity.Jianshenjiaolian">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="jiaolianbianhao" jdbcType="VARCHAR" property="jiaolianbianhao" />    <result column="jiaolianxingming" jdbcType="VARCHAR" property="jiaolianxingming" />    <result column="xingbie" jdbcType="VARCHAR" property="xingbie" />    <result column="zhuanchang" jdbcType="VARCHAR" property="zhuanchang" />    <result column="zhaopian" jdbcType="VARCHAR" property="zhaopian" />    <result column="dianhua" jdbcType="VARCHAR" property="dianhua" />    <result column="dizhi" jdbcType="VARCHAR" property="dizhi" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, jiaolianbianhao,jiaolianxingming,xingbie,zhuanchang,zhaopian,dianhua,dizhi, addtime
  </sql>
  <select id="quchongJianshenjiaolian"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from jianshenjiaolian 
    where jiaolianbianhao = #{jiaolianbianhao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from jianshenjiaolian  where 1=1
    <if test="jiaolianbianhao!=null">and jiaolianbianhao like  concat('%',#{jiaolianbianhao,jdbcType=VARCHAR},'%')</if>     <if test="jiaolianxingming!=null">and jiaolianxingming like  concat('%',#{jiaolianxingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="zhuanchang!=null">and zhuanchang like  concat('%',#{zhuanchang,jdbcType=VARCHAR},'%')</if>     <if test="zhaopian!=null">and zhaopian like  concat('%',#{zhaopian,jdbcType=VARCHAR},'%')</if>     <if test="dianhua!=null">and dianhua like  concat('%',#{dianhua,jdbcType=VARCHAR},'%')</if>     <if test="dizhi!=null">and dizhi like  concat('%',#{dizhi,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jianshenjiaolian  where 1=1
    <if test="jiaolianbianhao!=null">
    and jiaolianbianhao =#{jiaolianbianhao}
    </if>
  </select>
  
  <select id="getsyjianshenjiaolian1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jianshenjiaolian  where 1=1
    limit 0,5
  </select>
  <select id="getsyjianshenjiaolian2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jianshenjiaolian  where 1=1
    limit 0,5
  </select>
  <select id="getsyjianshenjiaolian3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jianshenjiaolian  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from jianshenjiaolian where 1=1 
     <if test="jiaolianbianhao!=null">and jiaolianbianhao like  concat('%',#{jiaolianbianhao,jdbcType=VARCHAR},'%')</if>     <if test="jiaolianxingming!=null">and jiaolianxingming like  concat('%',#{jiaolianxingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="zhuanchang!=null">and zhuanchang like  concat('%',#{zhuanchang,jdbcType=VARCHAR},'%')</if>     <if test="zhaopian!=null">and zhaopian like  concat('%',#{zhaopian,jdbcType=VARCHAR},'%')</if>     <if test="dianhua!=null">and dianhua like  concat('%',#{dianhua,jdbcType=VARCHAR},'%')</if>     <if test="dizhi!=null">and dizhi like  concat('%',#{dizhi,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jianshenjiaolian
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jianshenjiaolian
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Jianshenjiaolian">
    insert into jianshenjiaolian (id, jiaolianbianhao,jiaolianxingming,xingbie,zhuanchang,zhaopian,dianhua,dizhi, addtime)
    values (#{id,jdbcType=INTEGER}, #{jiaolianbianhao,jdbcType=VARCHAR},#{jiaolianxingming,jdbcType=VARCHAR},#{xingbie,jdbcType=VARCHAR},#{zhuanchang,jdbcType=VARCHAR},#{zhaopian,jdbcType=VARCHAR},#{dianhua,jdbcType=VARCHAR},#{dizhi,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Jianshenjiaolian">
    insert into jianshenjiaolian
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jiaolianbianhao != null"> jiaolianbianhao, </if>      <if test="jiaolianxingming != null"> jiaolianxingming, </if>      <if test="xingbie != null"> xingbie, </if>      <if test="zhuanchang != null"> zhuanchang, </if>      <if test="zhaopian != null"> zhaopian, </if>      <if test="dianhua != null"> dianhua, </if>      <if test="dizhi != null"> dizhi, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jiaolianbianhao != null"> #{jiaolianbianhao,jdbcType=VARCHAR},</if>      <if test="jiaolianxingming != null"> #{jiaolianxingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> #{xingbie,jdbcType=VARCHAR},</if>      <if test="zhuanchang != null"> #{zhuanchang,jdbcType=VARCHAR},</if>      <if test="zhaopian != null"> #{zhaopian,jdbcType=VARCHAR},</if>      <if test="dianhua != null"> #{dianhua,jdbcType=VARCHAR},</if>      <if test="dizhi != null"> #{dizhi,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Jianshenjiaolian">
    update jianshenjiaolian
    <set>
	  <if test="jiaolianbianhao != null"> jiaolianbianhao = #{jiaolianbianhao,jdbcType=VARCHAR},</if>      <if test="jiaolianxingming != null"> jiaolianxingming = #{jiaolianxingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> xingbie = #{xingbie,jdbcType=VARCHAR},</if>      <if test="zhuanchang != null"> zhuanchang = #{zhuanchang,jdbcType=VARCHAR},</if>      <if test="zhaopian != null"> zhaopian = #{zhaopian,jdbcType=VARCHAR},</if>      <if test="dianhua != null"> dianhua = #{dianhua,jdbcType=VARCHAR},</if>      <if test="dizhi != null"> dizhi = #{dizhi,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Jianshenjiaolian">
    update jianshenjiaolian
    set jiaolianbianhao = #{jiaolianbianhao,jdbcType=VARCHAR},jiaolianxingming = #{jiaolianxingming,jdbcType=VARCHAR},xingbie = #{xingbie,jdbcType=VARCHAR},zhuanchang = #{zhuanchang,jdbcType=VARCHAR},zhaopian = #{zhaopian,jdbcType=VARCHAR},dianhua = #{dianhua,jdbcType=VARCHAR},dizhi = #{dizhi,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
